[aria-label="Pagination"] {
    padding: 0;
    display: flex;
    list-style-type: none;
    user-select: none;
    margin-top: 10px;
    justify-content: flex-end;
  }
  [aria-label="Pagination"] li {
    height: 30px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-radius: 6px;
    justify-content: center;
    padding: 0 10px;
  }
  [aria-label="Pagination"] li.selected {
    color: #fff;
    background-color: #294666;
  }
  [aria-label="Pagination"] li+li {
    margin-left: 10px;
  }